#myLabel{
    display:block;
    text-align:center;
    font-size:6em;
}
#buttons{
    text-align:center;
}
.but{
    padding:10px 20px;
    border-radius:5px;
    color:rgb(0, 0, 0);
    background-color:hsl(176, 75%, 64%);
    cursor:pointer;
    transition: background-color 0.25s;
}
.but:hover{
    background-color:hsl(176, 89%, 20%);

}
